<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Tipos de Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card text-center>
    <ion-img (click)="redireccionarTab3()" src="/assets/img/electricidad.jpg"></ion-img>
    <ion-card-header>        
      <ion-card-title >Electricidad</ion-card-title>
    </ion-card-header>
    <ion-card-content >¿Problemas con las bombillas o hubo algún corto circuito?</ion-card-content>      
  </ion-card>

  <ion-card text-center>
    <ion-img (click)="redireccionarTab3()" src="/assets/img/plomeria.jpg"></ion-img>
    <ion-card-header>        
      <ion-card-title >Plomeria</ion-card-title>
    </ion-card-header>
    <ion-card-content >¿Se ha roto un tuvo de agua o gas en tu hogar?</ion-card-content>      
  </ion-card>

  <ion-card text-center>
    <ion-img (click)="redireccionarTab3()" src="/assets/img/construccion.jpg"></ion-img>
    <ion-card-header>        
      <ion-card-title>Construcción</ion-card-title>
    </ion-card-header>
    <ion-card-content>Construcción de obra negra y obra blanca</ion-card-content>      
  </ion-card>

  <ion-card text-center>
    <ion-img (click)="redireccionarTab3()" src="/assets/img/jardineria.jpg"></ion-img>
    <ion-card-header>        
      <ion-card-title>Jardinería y más</ion-card-title>
    </ion-card-header>
    <ion-card-content>¡Servicios de jardinería y más!</ion-card-content>      
  </ion-card>






</ion-content>
