<ion-header>
  <ion-toolbar color="primary">

    <ion-title>
      Servicio
    </ion-title>   

    <ion-buttons slot="primary">
      <ion-button (click)="onLogOut()" color="light" fill="outline">
        Log Out
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
        

    <!--
    <ion-title>
      Solicitar Servicio
    </ion-title>
    <ion-button >
        <ion-icon slot="start" name="star"></ion-icon>
        Desconectarse
    </ion-button>
  -->
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label position="floating"> Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Correo Electronico</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Telefono</ion-label>
        <ion-input type="number" [(ngModel)]="telefono" name="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Direccion</ion-label>
      <ion-input type="text" [(ngModel)]="direccion" name="direccion"></ion-input>
  </ion-item>

    <ion-item>
        <ion-label position="floating"> fecha servicio</ion-label>
        <ion-input type="date" [(ngModel)]="fecha_servicio" name="fecha_servicio"></ion-input>
    </ion-item>
    
    
    <ion-list>
      <ion-radio-group [(ngModel)]="servicio">
        <ion-list-header>
          <ion-label>SELECCIONE UN SERVICIO:</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Plomeria</ion-label>
          <ion-radio slot="end" color="primary" value="Plomeria" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Electricidad</ion-label>
          <ion-radio slot="end" color="secondary" value="Electricidad"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Pintura</ion-label>
          <ion-radio slot="end" color="tertiary" value="Pintura"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Jardineria</ion-label>
          <ion-radio slot="end" color="danger" value="Jardineria"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Cerrajeria</ion-label>
          <ion-radio slot="end" color="medium" value="Cerrajeria"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>    

    <ion-button (click)="enviarServicio()" expand="block">Enviar</ion-button>    

</ion-content>
